
@font-face {
    font-family: 'EurekaMono';
    src: url('../fonts/EurekaMono.eot?#iefix') format('embedded-opentype'),  url('../fonts/EurekaMono.otf')  format('opentype'),
        url('../fonts/EurekaMono.woff') format('woff'), url('../fonts/EurekaMono.ttf')  format('truetype'), url('../fonts/EurekaMono.svg#EurekaMono') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MinionPro-Regular.otf')  format('opentype'),
        url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf')  format('truetype'), url('../fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
